
body {
    padding-left: 15px;
}

.page-header {
    background-color: rgba(235,235,235,0.7);
    margin-top: 0;
    padding: 0px 20px 20px 40px;
    max-height: 100px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1030;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #660000;
    font-size: 36pt;
    text-decoration: none;
    font-weight: bold
}

.content {
    margin-left: 40px;
}

.col-centered{
  display: block;
   float: none;
   margin-right: 0 auto;
   margin-left: 0 auto;
}
.banner{
  margin-top: 0;
  padding-top: 0;
  background-image: url(/static/img/banner.jpg);
  background-position: center center;
	background-size: cover;
	padding: 0em 0em 0em;
	text-align: center;
  min-height: 400px;
}

.wo-banner-page{
  padding-top: 130px;
}

.row{
  padding-top: 10px;
}
.col-md-4 img{
  width: 90%;
  align-content: center;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
    color: 660000;
}
h1 a, h1 a:active, h1 a:visited, h1 a:hover{
    color: #660000;
}
.date {
    float: right;
    color: #660000;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}
